body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    width: 100%;
    height: 100vh;
}
nav{
    height: 50px;
    width: 100%;
    text-align: right;
    background-color: teal;
    padding-top: 10px;
    margin-bottom: 40px;
    color: #fff;
}
nav li{
    list-style: none;
    float: right;
    margin-right: 40px;
}
.intro-half{
    width: 40%;
    float: left;
    margin-left: 8%;
}
.intro-half img{
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.intro-half h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #363958;
}
.intro-half h1 span{
    color: #FF8367;
}
.intro-half p{
    font-size: 20px;
}
.button{
    padding: 10px 30px;
    font-weight: bold;
    background-image: linear-gradient(lightsalmon, tomato);
    border: none;
    border-radius: 5px;
}
.about-section{
    background-color: 
}
.about-text p{
    width: 90%;
    text-align: justify;
}
.projects{
    /* background-color: rgba(30, 144, 133, 0.287); */
    background-color: #cfd3ce;
    
    
}
.projects h2{
    padding-top: 50px;
    margin-bottom:80px ;text-align: center;
    color:#363958 ;
}
.projects h2 span{
    color: #F46060;
}
.post-box img{
    width: 330px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    padding: 5px;
}
.post-box{
    width: 27%;
    float: left;
    margin-left: 5%;
    border-radius: 8px;
    background-color: white;
    
}
.description{
    width: 80%;
    padding: 15px;
}
.description h3{
    font-size: 24px;
    color: #363958;
}
.description p{
    font-size: 18px;
    color: #6C6C6C;
}
.skill-section{
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
    background-color: #d0e8f2;
}
.skill-section li{
    list-style: none;
    background-color: tomato;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    color: #6C6C6C;
}
.skill-section span{
    color: white;
    font-weight: bolder;

}
.skill{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.skill h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.chat-section{
    text-align: center;
    background-color: rgba(245, 245, 245, 0.26);
    padding-top: 6%;
    height: 400px;
}

.chat{
    margin: auto;
    width: 900px;
    height: 200px;
    padding-left: 6%;
    background-color: #090979bb;
    border-radius: 10px;

}
.chat button{
    margin-top: 50px;
    margin-left: 50px;

}
.chat h2{
    float: left;
    color: white;
    font-size: 40px;
}
.chat-section img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0 10px;
}
footer {
    text-align: center;
    font-size: 16x;
    color: #3d3d3d;
    background-color: violet;
    height: 50px;
    padding-top: 10px;
}